{#
/**
 * Template for oauth2_client_token element.
 * Available variables:
 *   - code_url: render element that represents a url to an oauth 2 server that will return a code url.
 *   - provider: \Drupal\oauth2c\ClientProviderConfigInterface object.
 */
#}
{% if code_url %}
<div {{ attributes }}>
    {{ code_url }}
</div>
{% endif %}